<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Alive Music</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Artisti</servlet-name>
    <servlet-class>controller.DammiArtisti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Artisti</servlet-name>
    <url-pattern>/artisti</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Eventi</servlet-name>
    <servlet-class>controller.DammiEventi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eventi</servlet-name>
    <url-pattern>/eventi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>controller.RegistrazioneUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/registra</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Experience</servlet-name>
    <servlet-class>controller.DammiExperience</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Experience</servlet-name>
    <url-pattern>/experience</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExperienceCreate</servlet-name>
    <servlet-class>controller.ExperienceCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExperienceCreate</servlet-name>
    <url-pattern>/experienceCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExperiencePartecipate</servlet-name>
    <servlet-class>controller.ExperiencePartecipate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExperiencePartecipate</servlet-name>
    <url-pattern>/experiencePartecipate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mostraAltroUtente</servlet-name>
    <servlet-class>controller.MostraAltroUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mostraAltroUtente</servlet-name>
    <url-pattern>/mostraAltroUtente</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>File Upload Location</description>
    <param-name>file_upload_prof</param-name>
    <param-value>img/avatar/</param-value>
  </context-param>
  <context-param>
    <description>File Upload Location</description>
    <param-name>file_upload_prod</param-name>
    <param-value>img/prodotti/</param-value>
  </context-param>
</web-app>